					<div class="span8"> <!-- Contenido -->	
						<div class="tabbable">
						 	<ul class="nav nav-tabs">
						    	<li class="active"><a href="#1" data-toggle="tab">Expertos</a></li>
							    <li><a href="#2" data-toggle="tab">Proveedores</a></li>
						  	</ul>
							<div class="tab-content">
							    <div class="tab-pane active" id="1">
							      	
							      	<a href="#">
										<div class="resultados">											
												<a href="#"><h5>Pepito Perez Pinto</h5></a>									
												<div class="span2">
													<div class="imagen-resultados">
														<%= image_tag("imagenes/alejandro.jpg") %>
														<!--img src="imagenes/alejandro.jpg"-->
													</div>			
												</div>
												<div class="span5">
													<div class="datos_basicos">
														<h6>Contacto</h6>
														<p>Direccion: clle falsa 123<br>
															telefono: 31111111111br	<br>
															Pagina web: www.estoesunaprueba.com</p>
													</div>												
												</div>																					
												<div class="span4">
													<div class="datos_tecnicos">
														<h6>Experto en</h6>
														<p>Experto en nada, nada, nada y nada</p>
													</div>																						
												</div>		
										</div>	
							      	</a>							
							      	<a href="#">
										<div class="resultados">											
												<a href="#"><h5>Pepito Perez Pinto</h5></a>									
												<div class="span2">
													<div class="imagen-resultados">
														<%= image_tag("imagenes/alejandro.jpg") %>
														<!--img src="imagenes/alejandro.jpg"-->
													</div>			
												</div>
												<div class="span5">
													<div class="datos_basicos">
														<h6>Contacto</h6>
														<p>Direccion: clle falsa 123<br>
															telefono: 31111111111br	<br>
															Pagina web: www.estoesunaprueba.com</p>
													</div>												
												</div>																					
												<div class="span4">
													<div class="datos_tecnicos">
														<h6>Experto en</h6>
														<p>Experto en nada, nada, nada y nada</p>
													</div>																						
												</div>		
										</div>	
							      	</a>	
							      	<a href="#">
										<div class="resultados">											
												<a href="#"><h5>Pepito Perez Pinto</h5></a>									
												<div class="span2">
													<div class="imagen-resultados">
														<%= image_tag("imagenes/alejandro.jpg") %>
														<!--img src="imagenes/alejandro.jpg"-->
													</div>			
												</div>
												<div class="span5">
													<div class="datos_basicos">
														<h6>Contacto</h6>
														<p>Direccion: clle falsa 123<br>
															telefono: 31111111111br	<br>
															Pagina web: www.estoesunaprueba.com</p>
													</div>												
												</div>																					
												<div class="span4">
													<div class="datos_tecnicos">
														<h6>Experto en</h6>
														<p>Experto en nada, nada, nada y nada</p>
													</div>																						
												</div>		
										</div>	
							      	</a>	
							      								      								      	
							      	<a href="#">
										<div class="resultados">											
												<a href="#"><h5>Pepito Perez Pinto</h5></a>									
												<div class="span2">
													<div class="imagen-resultados">
														<%= image_tag("imagenes/alejandro.jpg") %>
														<!--img src="imagenes/alejandro.jpg"-->
													</div>			
												</div>
												<div class="span5">
													<div class="datos_basicos">
														<h6>Contacto</h6>
														<p>Direccion: clle falsa 123<br>
															telefono: 31111111111br	<br>
															Pagina web: www.estoesunaprueba.com</p>
													</div>												
												</div>																					
												<div class="span4">
													<div class="datos_tecnicos">
														<h6>Experto en</h6>
														<p>Experto en nada, nada, nada y nada</p>
													</div>																						
												</div>		
										</div>	
							      	</a>								      								      	
							      	

							      	<a href="#">
										<div class="resultados">											
												<a href="#"><h5>Pepito Perez Pinto</h5></a>									
												<div class="span2">
													<div class="imagen-resultados">
														<%= image_tag("imagenes/alejandro.jpg") %>
														<!--img src="imagenes/alejandro.jpg"-->
													</div>			
												</div>
												<div class="span5">
													<div class="datos_basicos">
														<h6>Contacto</h6>
														<p>Direccion: clle falsa 123<br>
															telefono: 31111111111br	<br>
															Pagina web: www.estoesunaprueba.com</p>
													</div>												
												</div>																					
												<div class="span4">
													<div class="datos_tecnicos">
														<h6>Experto en</h6>
														<p>Experto en nada, nada, nada y nada</p>
													</div>																						
												</div>		
										</div>	
							      	</a>								      								      											      								      


							      	<a href="#">
										<div class="resultados">											
												<a href="#"><h5>Pepito Perez Pinto</h5></a>									
												<div class="span2">
													<div class="imagen-resultados">
														<%= image_tag("imagenes/alejandro.jpg") %>
														<!--img src="imagenes/alejandro.jpg"-->
													</div>			
												</div>
												<div class="span5">
													<div class="datos_basicos">
														<h6>Contacto</h6>
														<p>Direccion: clle falsa 123<br>
															telefono: 31111111111br	<br>
															Pagina web: www.estoesunaprueba.com</p>
													</div>												
												</div>																					
												<div class="span4">
													<div class="datos_tecnicos">
														<h6>Experto en</h6>
														<p>Experto en nada, nada, nada y nada</p>
													</div>																						
												</div>		
										</div>	
							      	</a>								      								      			
							      	<a href="#">
										<div class="resultados">											
												<a href="#"><h5>Pepito Perez Pinto</h5></a>									
												<div class="span2">
													<div class="imagen-resultados">
														<%= image_tag("imagenes/alejandro.jpg") %>
														<!--img src="imagenes/alejandro.jpg"-->
													</div>			
												</div>
												<div class="span5">
													<div class="datos_basicos">
														<h6>Contacto</h6>
														<p>Direccion: clle falsa 123<br>
															telefono: 31111111111br	<br>
															Pagina web: www.estoesunaprueba.com</p>
													</div>												
												</div>																					
												<div class="span4">
													<div class="datos_tecnicos">
														<h6>Experto en</h6>
														<p>Experto en nada, nada, nada y nada</p>
													</div>																						
												</div>		
										</div>	
							      	</a>								      									    
							    </div>
							
							    <div class="tab-pane" id="2"> <!-- <p>Parte del contenidto para los proveedores</p> -->

						    		<!-- <div class="formulario-filtro">	 -->
							    		<!-- <div class="span5 offset2">     -->
					                        <div class="accordion2" id="acordion-formulario">  
					                            <div class="accordion-group">  
					                                
											    				

					                                <div class="accordion-heading">  
					                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#formulario">
					                                          Filtra tu busqueda para un mejor resultado
					                                        </a>  
					                                </div>  

					                                <div id="formulario" class="accordion-body collapse" style="height: 0px; ">
					                                    <div class="accordion-inner">
								                            <form class="form-horizontal">
								                            	<div class="control-group">



								                            		<label for="referencia" class="control-label">Referencia</label>
								                            		<div class="controls">
								                            			<input type="text" id="Referencia" placeholder="Referencia">
								                            		</div>
								                            	</div>
								                            	<div class="control-group">
								                            		<label for="marca" class="control-label">Marca</label>
								                            		<div class="controls">
								                            			<input type="text" id="Marca" placeholder="Marca">
								                            		</div>
								                            	</div>
								                            	<div class="control-group">
								                            		<label for="fabricante" class="control-label">Fabricante</label>
								                            		<div class="controls">
								                            			<input type="text" id="Fabricante" placeholder="Fabricante">
								                            		</div>
								                            	</div>		
								                            	<div class="control-group">
								                            		<label for="lugar" class="control-label">Lugar</label>
								                            		<div class="controls">
								                            			<input type="text" id="Lugar" placeholder="Lugar">
								                            		</div>
								                            	</div>

								                            	<div class="control-group">
								                            		<div class="controls">
								                            			<button type="submit" class="btn">Submit</button>
								                            		</div>
								                            	</div>

								                                

								                            </form>   
					                                    </div>  
					                                </div>  
					                            </div>
					                        </div>
					                    <!-- </div>	 -->
				                    <!-- </div>		 -->
				                    
							    	

							      	
									<div class="resultados">

											<a href="#"><h5>Repuestos del Llano</h5></a>								
											<div class="span2">
												<div class="imagen-resultados">
													<%= image_tag("imagenes/conectividad.png") %>
													<!--img src="imagenes/conectividad.png"-->
												</div>			
											</div>
											<div class="span5">
												<div class="datos_basicos">
													<h6>Contacto</h6>
													<p>Direccion: clle falsa 123<br>
														telefono: 31111111111br	<br>
														Pagina web: www.estoesunaprueba.com</p>
												</div>												
											</div>																					
											<div class="span4">
												<div class="datos_tecnicos">
													<h6>Experto en</h6>
													<p>Experto en nada, nada, nada y nada</p>
												</div>																						
											</div>		
									</div>	
							    </div>
						    </div>
					 	</div>
					</div>
					
					<div class="span2"> <!-- Publicidad -->										
						<div class="publicidad">
							<a href="#"><h5> DISEÑO WEB</h5></a>
							<%= image_tag("imagenes/nueva2.jpg", :height => "40", :whidth =>"40") %>
							<!--img src="imagenes/nueva2.jpg" height="40" whith="40"-->
							<p>Este espacio está disponible para publicidad de su empresa.		
								<a href="#">leer mas</a>	
							</p>
						</div>
						<div class="publicidad">
							<a href="#"><h5> ERP. Sistema de administración de recursos</h5></a>
							<%= image_tag("imagenes/nueva3.jpg", :height => "40", :whidth =>"40") %>
							<!--img src="imagenes/nueva3.jpg" height="40" whith="40"-->
		                   	<p>Este espacio está disponible para publicidad de su empresa.
								<a href="#">leer mas</a>	
		                   	</p>						 
						</div>						
						<div class="publicidad">
							<a href="#"><h5> ERP. Sistema de administración de recursos</h5></a>
							<%= image_tag("imagenes/nueva3.jpg", :height => "40", :whidth =>"40") %>
							<!--img src="imagenes/nueva3.jpg" height="40" whith="40"-->
		                   	<p>Este espacio está disponible para publicidad de su empresa.
								<a href="#">leer mas</a>	
		                   	</p>						 
						</div>				

					</div>
