    

    <div class="contenido">

        <div class="container-fluid">

            <div class="row-fluid">         
                <div class="span12">  
                    <div class="span10">
                        
                        <div class="carrusel_publicidad">    <!-- CARRUSEL PRINCIPAL-->   
                            <div id="main-carousel" class="carousel slide">
                                
                                <div class="carousel-inner"><!-- Carousel items -->
                                    <div class="item">
                                        <!--img alt="Jaipur" src="imagenes/pub1.png" /-->
                                        <%= image_tag("imagenes/pub1.png", :alt => "Jaipur") %>

                                    </div>
                                    <div class="item">
                                        <%= image_tag("imagenes/pub2.png", :alt => "Jaipur") %>
                                        <!--img alt="Jaipur" src="imagenes/pub2.png" /-->
                                    </div>
                                    <div class="item active">
                                        <!--img alt="Jaipur" src="imagenes/pub3.png" /-->
                                        <%= image_tag("imagenes/pub3.png", :alt => "Jaipur") %>

                                    </div>
                                </div>
                                
                                <a class="carousel-control left" href="#main-carousel" data-slide="prev">&lsaquo;</a> <!-- Carousel nav -->
                                <a class="carousel-control right" href="#main-carousel" data-slide="next">&rsaquo;</a>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="span12">
                            <a href="#">
                                <h3>Expertos mas cotizados</h3>
                            </a>
                        </div>
                        <br>           
                    
                        <div class="ferro">    <!-- FERROCARIL DE IMAGENES -->
                            <div class="row-fluid">
                                <div class="span12">            
                                    <div class="row-fluid" id="micarouselh">

                                        <div class="span3">
                                            <div class="thumbnail-titulo">Titulo</div>
                                            <%= image_tag("images/img_1.jpg", :alt => "") %>
                                            <!--img alt="" src="images/img_1.jpg" /--><br />
                                            <div>
                                                <p class="thumbnail-text">Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text</p>
                                            </div>                
                                        </div>   
                                        <div class="span3">
                                            <div class="thumbnail-titulo">Titulo</div>
                                            <%= image_tag("images/img_2.jpg", :alt => "") %>
                                            <!--img alt="" src="images/img_2.jpg" /--><br />
                                            <div>
                                                <p class="thumbnail-text">Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text</p>
                                            </div>
                                        </div>   
                                        <div class="span3">
                                            <div class="thumbnail-titulo">Titulo</div>
                                            <%= image_tag("images/img_3.jpg", :alt => "") %>
                                            <!--img alt="" src="images/img_3.jpg" /--><br />
                                            <div>
                                                <p class="thumbnail-text">Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text</p>
                                            </div>
                                        </div>                    
                                        <div class="span3">
                                            <div class="thumbnail-titulo">Titulo</div>
                                            <%= image_tag("images/img_4.jpg", :alt => "") %>
                                            <!--img alt="" src="images/img_4.jpg" /--><br />
                                            <div>
                                                <p class="thumbnail-text">Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text</p>
                                            </div>
                                        </div>   
                                        <div class="span3">
                                            <div class="thumbnail-titulo">Titulo</div>
                                            <%= image_tag("images/img_5.jpg", :alt => "") %>
                                            <!--img alt="" src="images/img_5.jpg" /--><br />
                                            <div>
                                                <p class="thumbnail-text">Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text</p>
                                            </div>
                                        </div>   
                                        <div class="span3">
                                            <div class="thumbnail-titulo">Titulo</div>
                                            <%= image_tag("images/img_6.jpg", :alt => "") %>
                                            <!--img alt="" src="images/img_6.jpg" /--><br />
                                            <div>
                                                <p class="thumbnail-text">Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text</p>
                                            </div>                                                                    
                                        </div>   
                                        <div class="span3">
                                            <div class="thumbnail-titulo">Titulo</div>
                                            <%= image_tag("images/img_7.jpg", :alt => "") %>
                                            <!--img alt="" src="images/img_7.jpg" /--><br />
                                            <div>
                                                <p class="thumbnail-text">Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text Image Text</p>
                                            </div>
                                        </div>   


                                    </div>
                                </div>                        
                            </div>
                        </div>  
                        

                        <div class="mas_contenido">
                            <h1>Titulo</h1><p>Contenido... <br></p>
                            <h1>Titulo</h1><p>Contenido... <br></p>
                            <h1>Titulo</h1><p>Contenido... <br></p>
                            <h1>Titulo</h1><p>Contenido... <br></p>
                            <h1>Titulo</h1><p>Contenido... <br></p>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>