
					<div class="span8">						
						<a href="#">
							<h2>Sub categorias</h2>
						</a>

			          	<section class="secundario">
							<div class="subcategoria">	

									<a href="#" title="">
										<article>
										  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
										  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
										  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
										</article>
									</a>



								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										 <!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>
								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>
																								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>
								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>								
								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>		
								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>										

								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>		
								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>		
								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>		
								<a href="#" title="">
									<article>
									  	<h4 class="titulo"><span>Mantenimiento de motores</span></h4>
									  	<%= image_tag("imagenes/motor.png", :class => "subcat-img") %>
										  	<!--img class="subcat-img" src="imagenes/motor.png" /-->
									  	<p class="sub_tex">Esta descripcion de la subcategoria con maximo 50.</p>						 
									</article>
								</a>										

							</div>			
						</section> 						


					</div>

					<!-- PUBLICIDAD -->
					<div class="span2">										
						<div class="publicidad">
							<a href="#"><h5> DISEÑO WEB</h5></a>
							<%= image_tag("imagenes/nueva2.jpg", :height => "40", :whidth =>"40") %>
                            <!--img src="imagenes/nueva2.jpg" height="40" whith="40"-->
							<p>Este espacio está disponible para publicidad de su empresa.		
								<a href="#">leer mas</a>	
							</p>
						</div>
						<div class="publicidad">
							<a href="#"><h5> ERP. Sistema de administración de recursos</h5></a>
							<%= image_tag("imagenes/nueva3.jpg", :height => "40", :whidth =>"40") %>
                            <!--img src="imagenes/nueva2.jpg" height="40" whith="40"-->
		                   	<p>Este espacio está disponible para publicidad de su empresa.
								<a href="#">leer mas</a>	
		                   	</p>						 
						</div>						
						<div class="publicidad">
							<a href="#"><h5> ERP. Sistema de administración de recursos</h5></a>
							<%= image_tag("imagenes/nueva3.jpg", :height => "40", :whidth =>"40") %>
                            <!--img src="imagenes/nueva2.jpg" height="40" whith="40"-->
		                   	<p>Este espacio está disponible para publicidad de su empresa.
								<a href="#">leer mas</a>	
		                   	</p>						 
						</div>				

					</div>
